/* אנימציה לכפתורים */
button.btn {
  transition: background-color 0.3s;
}

/* העלמה עדינה לפריטים בטבלה */
.table tr {
  transition: background-color 0.3s;
}

.table tr:hover {
  background-color: #f242f2;
}
body {
  background-image: url('your-image-url.jpg');
  background-size: cover;
}


h2 {
  font-size: 26px; /* גודל פונט גדול יותר לכותרות */
  color: #007bff; /* צבע כחול חזק יותר לכותרות */
}
.container {
  border-radius: 8px; /* עיגול קצוות יותר מובהק */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* צל עדין ורחב יותר */
}
     /* Global Styles */
     body {
      font-family: 'Roboto', sans-serif;
      background-color: #f8f9fa;
      color: #333333;
      background-image: url('cover.jpg');
      background-size: cover; /* Use 'cover' to make the image cover the entire background */
      background-attachment: fixed; /* Optional - this keeps the background image fixed */
    }
    
  h2 {
      font-size: 24px;
      color: #007bff;
  }

  /* Header Styles */
  .header {
   
      padding: 150px 0;
      text-align: center;
  }
  .header h1 {
      font-size: 36px;
      color: #fff;
      margin-bottom: 20px;
  }
  .header p {
      font-size: 18px;
      color: #fff;
  }

  /* Navigation Styles */
  .navbar {
      background-color: transparent;
      border-bottom: 1px solid #007bff;
  }
  .navbar-brand {
      font-family: 'Playfair Display', serif;
      font-size: 36px;
      color: #007bff;
  }
  .navbar-nav {
      margin-left: auto;
  }
  .nav-item {
      margin-left: 20px;
  }

  /* Book Card Styles */
  .book-card {
      background-color: #fff;
      border: 1px solid #e5e5e5;
      border-radius: 8px;
      padding: 20px;
      margin: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .book-card img {
      max-width: 100%;
      height: auto;
  }
  .book-title {
      font-size: 18px;
      margin-top: 10px;
  }
  .book-author {
      font-size: 16px;
      color: #777;
  }
